<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/home">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dmsanpham">
            <i class="bi bi-card-list"></i>
            <span>Danh mục sản phẩm</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/sanpham">
            <i class="bi bi-journal-text"></i>
            <span>Sản phẩm</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/baiviet">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Bài viết</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/account">
            <i class="bi bi-person"></i>
            <span>Tài khoản</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dmmodule">
            <i class="bi bi-menu-button-wide"></i>
            <span>Module</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/role">
            <i class="bi bi-menu-button-wide"></i>
            <span>Quyền</span>
        </a>
    </li>
</ul>

