@using Models
<table id="tbl-list-files" class="table table-bordered table-striped bs-table table-sm mb-0 table-style-1" style="width: 100%">
    <thead>
        <tr>
            <th class="text-center" style="width: 10%">STT</th>
            <th class="text-center" style="width: 65%">Tên file</th>
            <th class="text-center" style="width: 25%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

