@using Models
@model BaiVietPaging
@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assetkh/styles/main_styles.css">
<script src="~/Scripts/extens/paging/paginate.min.js"></script>
<script src="~/Content/assetkh/js/jquery-3.2.1.min.js"></script>

<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .pagination {
        display: flex !important;
        justify-content: center !important;
        margin-top: 20px !important;
    }

        .pagination a, .pagination span {
            margin: 0 5px !important;
            padding: 10px 15px !important;
            border: 1px solid #ddd !important;
            color: #007bff !important;
            text-decoration: none !important;
            cursor: pointer !important; /* Đảm bảo các liên kết có thể nhấp */
        }

        .pagination .current-page {
            background-color: #007bff !important;
            color: white !important;
            border-color: #007bff !important;
        }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news"> Bài viết</h1>
        </div>
    </div>
    <!--Danh sách bài viết-->
    <div id="_danhSachBaiViet"></div>
    <div id="pagination" class="pagination"></div>
</div>

<script src="~/Scripts/extens/paging/paginate.js"></script>
<script>
    $(document).ready(function () {
        debugger
        LoadListBaiViet(1);

        function LoadListBaiViet(page) {
            $.ajax({
                url: '/BaiViets/DanhSachBaiViet',
                type: 'GET',
                data: { page: page },
                success: function (res) {
                    debugger
                    if (res.result === "success" && res.recordsTotal > 0) {
                        var items = res.data;
                        var html = '';
                        for (let i = 0; i < items.length; i++) {
                            var item = items[i];

                            html += `
                                <div class="row row-item-new">
                                    <div class="col-md-3">
                                        <div class="img-box">
                                            <a href="/BaiViet/Details/${item.Id}" title="${item.TenBaiViet}">
                                                <img src="${item.FilePath.substring(1)}" alt="${item.TenBaiViet}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="content-box">
                                            <h3>
                                                <a href="/BaiViet/Details/${item.Id}" title="${item.TenBaiViet}">
                                                    ${item.TenBaiViet}
                                                </a>
                                            </h3>
                                            <div class="description-box">
                                                ${item.MoTa}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;

                        }
                        html += '<div id ="pagination">phân trang</div>'
                        $('#_danhSachBaiViet').html(html);
                        renderPagination(res.totalPages, page);
                    } else {
                        alert("Không có dữ liệu bài viết.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Đã xảy ra lỗi khi tải danh sách bài viết.");
                }
            });
        }

        function renderPagination(totalPages, currentPage) {
            var paginationHtml = '';
            for (let i = 1; i <= totalPages; i++) {
                if (i === currentPage) {
                    paginationHtml += `<span class="current-page">${i}</span>`;
                } else {
                    paginationHtml += `<a href="#" class="page-link" data-page="${i}">${i}</a>`;
                }
            }
            $('#pagination').html(paginationHtml);

            $('.page-link').click(function (e) {
                e.preventDefault();
                var page = $(this).data('page');
                LoadListBaiViet(page);
            });
        }

    });
</script>
