@using Models
@model IEnumerable<ShoppingCartItem>

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = 0.0f;
    <div style="border:1px solid #808080;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TongTien;
                <tr>
                    <td>@item.TenSanPham</td>
                    <td>@item.GiaGoc</td>
                </tr>
            }
            <tr>
                <td>Tổng tiền</td>
                <td>@tongtien</td>
            </tr>
        </table>
    </div>

}
else
{

}

